<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="com.anpena.windust" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name short='WnD'>windust</name>
  <description>
        风尘三侠传 描述文件
    </description>
  <author email="jim.dai.cn@gmail.com" href="http://www.ccpcsoft.com">
        Anpena
    </author>
  <content src="index.html"/>
  <access origin="*"/>
  <allow-intent href="http://*/*"/>
  <allow-intent href="https://*/*"/>
  <allow-intent href="tel:*"/>
  <allow-intent href="sms:*"/>
  <allow-intent href="mailto:*"/>
  <allow-intent href="geo:*"/>
  <platform name="android">
    <allow-intent href="market:*"/>
  </platform>
  <platform name="ios">
    <allow-intent href="itms:*"/>
    <allow-intent href="itms-apps:*"/>
  </platform>
  <platform name="electron">
    <icon src="platforms/electron/platform_www/logo512.png" target="app" />
    <icon src="platforms/electron/platform_www/logo512.png" target="installer" />
    <preference name="ElectronSettingsFilePath" value="platforms/electron/platform_www/settings.json" />
  </platform>
</widget>